<script>
  const formDelete = document.querySelector("#formDelete")
  formDelete.addEventListener("submit", function (event) {
    const confirmation = confirm("Want to delete?")
    if (!confirmation) {
      event.preventDefault()
    }
  })
</script>